.missions-table {
  margin: 6.5rem 1rem 0 1rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  border: 1px solid #dddddd79;
  padding: 0.5rem;
}

th {
  font-weight: bold;
}

.mission-row,
.header-row {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  border-radius: 5px;
  text-align: left;
}

.mission-name {
  font-weight: bold;
  text-align: left;
}

.mission-row:nth-child(odd) {
  background-color: rgba(193, 222, 231, 0.356);
}

.mission-row:nth-child(even) {
  background-color: #fff;
}

.mission-description {
  padding: 0.5rem;
}

.mission-status {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border-radius: 0.2rem;
  align-self: center;
}

.mission-button {
  border: solid 1px black;
  padding: 0.4rem;
}
